/* Tabs */

#wpv-ballot-meta-box-settings .nav-tab-wrapper li {
    margin: 0;
}

#wpv-ballot-meta-box-settings .nav-tab-wrapper li a {
    border-bottom: 1px solid #ccc;
    margin-bottom: -1px;
}

#wpv-ballot-meta-box-settings .nav-tab-wrapper li.ui-state-active a {
    color: #000;
    background: #fff;
    border-bottom: 1px solid #fff;
}

/* Submitbox */
#wpv-ballot-open-display:before,
#wpv-ballot-close-display:before {
    font: normal 20px/1 dashicons;
    speak: none;
    display: inline-block;
    margin-left: -1px;
    vertical-align: top;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #82878c;
}

#wpv-ballot-open-display:before {
    padding-right: 3px;
    content: "\f469";
}

#wpv-ballot-close-display:before {
    content: "\f469";
    padding-left: 3px;
    transform: rotate(180deg);
}

#wpv-ballot-open-select,
#wpv-ballot-close-select {
    line-height: 1.5em;
    margin-top: 3px;
}